Capture.PNG
AutoHotkeyU64.exe
tt.ahk
layouts/BEAKL PLLT x1/imgs/orig/layermainsh.png
layouts/BEAKL PLLT x1/imgs/orig/layersyms.png
layouts/BEAKL PLLT x1/imgs/orig/layersymssh.png
layouts/BEAKL PLLT x1/imgs/orig/layermain.png
* - Copy.png
layouts/BEAKL PLLT x1/imgsb/orig/layermain.png
layouts/BEAKL PLLT x1/imgsb/orig/layermainsh.png
layouts/BEAKL PLLT x1/imgsb/orig/layersyms.png
layouts/BEAKL PLLT x1/imgsb/orig/layersymssh.png
